[Unit]
Description=Gate Control
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
Environment="MQTT_BROKER=ip_address_of_mqtt_broker"
Environment="MQTT_PORT=1883"
Environment="MQTT_CLIENT_ID=gatecontrol"
Environment="MQTT_USERNAME=faacuser"
Environment="MQTT_PASSWORD=replace_me"
Environment="MQTT_BASE_TOPIC=faac/gate"
Environment="LOG_LEVEL=info"
Environment="SPI_BUS=0"
Environment="SPI_CHIP_SELECT=0"
Environment="SPI_HARDWARE_ADDR=0"
Environment="DIDO_RELAY_PIN=0"
Environment="SPI_SPEED_HZ=100000"
Environment="PULSE_LENGTH_MS=500"
ExecStart=/home/pi/gatecontrol/gatecontrol
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
